<nav class="search-menu">
  <form class="d-flex" role="search">
    <IMG class="displayed"
         src="https://avatars.mds.yandex.net/i?id=af0475b99e61418437a751040c4f214a0326941b-5660829-images-thumbs&n=13">
    <input name="search" class="form-control me-2" type="search" [(ngModel)]="searchName"
           placeholder="Введите данные: название, год  " aria-label="Search">
    <button class="button btn-outline-success ms-1" type="submit" (click)="searchFilmsInList()">Поиск</button>
  </form>
</nav>
