  <div >
    <img [src]=film.image class="card-img-top" alt="Card image">
    <div class="card-body">
      <h5 class="title">{{film.title}}</h5>
      <p class="fullTitle">Полное название {{film.fullTitle}}</p>
      <p class="rank">Топ {{film.rank}}</p>
      <p class="year">Год выпуска: {{film.year}}</p>
      <p class="crew">Режиссеры: {{film.crew}}</p>
      <p class="imDbRating">Рейтинг IMDb: {{film.imDbRating}}</p>
      <p class="imDbRatingCount">Количество рейтингов IMDb: {{film.imDbRatingCount}}</p>
<!--      <a href="#" class="btn btn-primary">{{film.id}}</a>-->
    </div>
  </div>


